{{! ---------------------------------------------------------------------- }}
{{!                                                                        }}
{{! Base template for all headers                                          }}
{{! Depending on the model, this will either instantiate the header for an }}
{{! enum class or the header for a struct.                                 }}
{{!                                                                        }}
{{! ---------------------------------------------------------------------- }}
{{#models}}{{#model}}#ifndef {{modelHeaderGuardPrefix}}_{{classname}}_H_
#define {{modelHeaderGuardPrefix}}_{{classname}}_H_

{{#isEnum}}{{>enum-header}}
{{/isEnum}}
{{^isEnum}}{{>struct-header}}
{{/isEnum}}

#endif /* {{modelHeaderGuardPrefix}}_{{classname}}_H_ */
{{/model}}
{{/models}}
