{{! ---------------------------------------------------------------------- }}
{{!                                                                        }}
{{! Base template for all source files                                     }}
{{! Depending on the model, this will either instantiate the source for an }}
{{! enum class or the source for a struct.                                 }}
{{!                                                                        }}
{{! ---------------------------------------------------------------------- }}
{{#models}}{{#model}}#include "{{classname}}.h"

#include "serialization.h"
#include "utility.h"

{{#modelNamespaceDeclarations}}
namespace {{this}} {
{{/modelNamespaceDeclarations}}

{{#isEnum}}{{>enum-source}}
{{/isEnum}}
{{^isEnum}}{{>struct-source}}
{{/isEnum}}

{{#modelNamespaceDeclarations}}
}
{{/modelNamespaceDeclarations}}
{{/model}}
{{/models}}
